
@{
    ViewBag.Title = "Access Denied";
}
<style>
    body{
        background: Black;
        text-align: center;
    }
</style>
<h1 class="display-1 text-danger">&#9888 Access Denied &#9888</h1>
<h2 class="display-2 text-warning">LogIn with an Authorized Account</h2>
<img src="images/denied.png"/>