@model LoginModel

@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>
<div class="row">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password"/>
        <button class="btn btn-success" type="submit">LogIn</button>
        <br />
        <a class="btn btn-outline-info" asp-controller="Account" asp-action="Register">Create new account</a>
    </form>
</div>