@model RegisterModel

@{
    ViewBag.Title = "Register";
}

<h1>Register</h1>
<div class="row">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" />
        <button class="btn btn-success" type="submit">Register</button>
    </form>
    <a asp-controller="Account" asp-action="Login">Login</a>
</div>